<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: head ('Ayelena\'s Industrial Bits and Bobs')"></div>
</head>
<body>
<div th:replace="fragments/layout :: header ('/')"></div>
<div class="container">
    <div class="my-3 p-3 bg-light rounded shadow-sm">
        <p>Everything here is very much work in progress!</p>
        <p>For ideas issues and questions go <a href="https://github.com/d-lindahl/evetools/issues" target="_blank">here</a></p>
    </div>
</div>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>